*, *::after, *::before{
    margin:0px;
    padding:0px;
    font-family: 'Courier New', Courier, monospace;
}

table{
    margin: 0px auto;
}

table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}

td, th{
    padding: 10px;
}

table>thead{
    background-color: gray;
    color: white;
}

tbody>tr:nth-child(odd){
    background-color: tomato;
}


tbody>tr:hover{
    background-color: yellow;
    cursor: pointer;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
}